.full-width{
    width: 90%;
    height: 120vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/fundo_rei_leao.png);

    @media (max-width:768px){
        display: block;
        img{
            width: 100%;
            padding: 0;
            background-size: cover;
            align-items: center;
        }
    }

    img{
        padding: 20px;
    }
    
       
}
.full-width-text{
    margin:  0 auto;
    display: block;
    justify-content: center;
    margin-top: 25%;
    margin-left: 55%;
    
    
    
}
