.plans{
    padding:5.6vw;

    h2{
        text-align: center;   
    }
    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        @media (max-width:768px){
            display: block;

            .button{
                margin-top: 24px;
            }
        }



        &__item{
            text-align: center;
            max-width: 380px;
            width: 100%;

            &:nth-child(2){
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: cover;
            }

            img{
                height: 80px;
            }
            
            
            

            strong{
                display: block;
                margin-top: 20px;
                
            }
        }    
    }
    p{
        text-align: center;
        
    }
}

