@use "variaveis";
@use "hero";
@use "shows";
@use "plans";
@use "watch-anywhare";
@use "full-width";
@use "available-devices";
@use "faq";

@font-face{
    font-family: avenir;
    src:url(../../assetes/Avenir-Bold.woff2);
    font-weight: 400;
}
@font-face{
    font-family: avenir;
    src:url(../../assetes/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}
body{
    background-color:variaveis.$corDefundo;
    
   
    

}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color:variaveis.$corTextprincipal;
}

@mixin title($fontSize:40px){
    @include text($fontSize);
    color: variaveis.$corTextsegundario;
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}
.text--small{
    @include text(12px);
}
.title--big{
    @include title(44px);
}
.title{
    @include title;
}
.title--small{
    @include title(28px);
}
.link-text{
    @include text(18px);
    color:variaveis.$corTextsegundario;
    text-decoration: underline;
}
.button{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: variaveis.$corTextsegundario;
    background-color:#6421ff;
    margin-top: 2vh;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    
}

