@use "hero";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$corDefundo:#040714;
$corTextprincipal:silver;
$corTextsegundario:#f9f9f9;

body{
    background-color: $corDefundo;

}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color:$corTextprincipal;
}

@mixin title($fontSize:40px){
    @include text($fontSize);
    color: $corTextsegundario;
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}
.text--small{
    @include text(12px);
}
.title--big{
    @include title(44px);
}
.title{
    @include title;
}
.title--small{
    @include title(28px);
}
.link-text{
    @include text(18px);
    color:$corTextsegundario;
    text-decoration: underline;
}